<h2>Test Data from Flask:</h2>

<div class="container">
    <h1>Student List</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Student ID</th>
          <th>Name</th>
          <th>Age</th>
          <!-- Add more table headers for additional properties if needed -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td>{{ student.studentId }}</td>
          <td>{{ student.name }}</td>
          <td>{{ student.age }}</td>
          <!-- Add more table data for additional properties if needed -->
        </tr>
      </tbody>
    </table>
  </div>
  