<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
    <form [formGroup]="studentForm" (ngSubmit)="edit? loadStudentData():onSubmit()">
        <div class="form-group">
          <label for="roll_no">Roll No:</label>
          <input type="number" formControlName="roll_no" 
          [ngModel]=" edit? new_data_to_pass.roll_no: null " id="roll_no" class="form-control"   required>
        </div>
      
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" name="name" id="name" class="form-control" 
          [(ngModel)]=" edit? null: new_data_to_pass.name " required>
        </div>
      
        <div class="form-group">
          <label for="age">Age:</label>
          <input type="number" name="age" formControlName="age" id="age" class="form-control" 
          [ngModel]=" edit? new_data_to_pass.age : null "  required>
        </div>
      
        <div class="form-group">
          <label for="class">Class:</label>
          <input type="text" formControlName="class" name="class_"
          [ngModel]=" edit? new_data_to_pass.class: null " id="class" class="form-control" required>
        </div>
      
        <div class="form-group">
          <label for="section">Section:</label>
          <input type="text" formControlName="section" id="section" name="sec"
          [ngModel]=" edit? new_data_to_pass.section: null " class="form-control" required>
        </div>
        <div class="form-group">
            <label for="class_teacher">Class Teacher:</label>
            <input type="text" formControlName="class_teacher"
            name="class_teacher" id="class_teacher"
            [ngModel]=" edit? new_data_to_pass.class_teacher: null " class="form-control" required>
        </div>
        <button type="submit"  class="btn btn-primary">Submit</button>
    </form>
      
</body>
</html>


  