<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Information</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">

</head>
<style>
    /* Add custom CSS styles here */
    
    
    
</style>
    
<body>
    
    
    <header >
        <div class="center">
            <div class="header ">
                <h2 class="header-info">Student Information</h2>
            
            </div>
        </div>
        <div class="search-bar">
            <div class="combined-add_trash">
                <div class="add_button">
                    <button id="add-left" class="btn" (click)="add_student_info()">
                <img src="assets/176-1760952_add-user-symbol-comments-add-user-icon-png.png" title="Add new student" width="20">
                </button>
                <button  [disabled]="isDeleteDisabled==true" id="delete-selected" 
                    class="btn delete-btn" 
                    *ngIf="student_details.length>1 && list_delete.length>0 " (click)="delete_selected(list_delete)">
                    <img src="assets/3221803.png" title="Delete Selected" width="20">
                </button>
                </div>
            </div>
            <div class="search-right">
              <input
                type="text"
                [(ngModel)]="searchText"
                placeholder="Search by Roll No or Name"
                id="input-box"
                class="custom-input round-input">
              <button type= "button" class="btn round-button" (click)="searchStudents()">
                <img src="assets/search.png" alt="Search" title="Search">
              </button>
            </div>
          </div>
    </header>
      
    
    <ng-container *ngIf="add_student" >
        <form [formGroup]="addStudentForm" (submit)="submitForm()">
                
    </form>
    </ng-container>
    
    <form [formGroup]="studentForm" (submit)="submitForm()">
        <table class="data-table">
            <tr>
                <th [ngStyle]="{'color':'white',
                'font-family': 'Courier New',
                'font-size': '15px'}"><input type="checkbox" class="custom-checkbox"
                (click)="deleteall()" >  </th>
               
                <th class="table-col">
                    <button class="sort-button" (click)="sort_clicked('roll_no')">
                        <img src="assets/reorder.png"  width="18"></button>
                    <!--button class="sort-button" (click)="sortData('roll_no','dec')">▼</button-->Roll No</th>
                
                <th class="table-col"> 
                    <button class="sort-button"  (click)="sort_clicked('name')">
                    <img src="assets/reorder.png"  width="18"></button>
                    <!--button class="up-down" (click)="sortData('name','dec')">▼</button-->Name</th>
                
                
                <th class="table-col"> <button class="sort-button"  (click)="sort_clicked('class')">
                    <img src="assets/reorder.png"  width="18"></button>
                    <!--button class="up-down" (click)="sortData('class','dec')">▼</button-->Class</th>
                
                
                <th class="table-col"> <button class="sort-button"  (click)="sort_clicked('section')">
                    <img src="assets/reorder.png"  width="18"></button>
                    <!--button class="sort-button" (click)="sortData('section','dec')">
                        <img src="assets/down-filled-triangular-arrow.png"  width="10"></button-->Section</th>
                
                
                <th class="table-col"> <button class="sort-button" (click)="sort_clicked('class_teacher')">
                    <img src="assets/reorder.png"  width="18"></button>
                    <!--button class="up-down" (click)="sortData('class_teacher','dec')">▼</button-->Class Teacher</th>
                
                
                <th class="table-col"> 
                    <button class="sort-button"  (click)="sort_clicked('age')">
                        <img src="assets/reorder.png"  width="18"></button>
                    <!--button class="up-down" (click)="sortData('age','dec')">▼</button-->Age</th>
                
            
                <th class="table-col"> Actions</th>
        </tr>
        <ng-container *ngIf="add_student" >
            <td>New Info:</td>
            <td><input placeholder="Roll No" type="number"  formControlName="roll_no" name="roll_no" required></td>
            <td><input placeholder="Name" type="text" formControlName="name"></td>
            <td><input placeholder="class" type="text" formControlName="class"></td>
            <td><input placeholder="Section" type="text" formControlName="section"></td>
            <td><input placeholder="Class teacher" type="text" formControlName="class_teacher"></td>
            <td><input type="text" placeholder="Age" formControlName="age"></td>
            <td>
                <div class="button-container">
                    <button class="btn center-button"  (click)="save_edit()">
                        <img src="assets\8666542_save_icon.png" alt="Edit Icon" width="20" height="20"></button>
                    <button class="btn center-button"  (click)="cancel_add()">
                        <img  src="assets\4781838_cancel_close_delete_exit_logout_icon.png" alt="Edit Icon" width="20" height="20">
                    </button>
                
                </div>
            
        </ng-container>
            <tr *ngFor="let info of student_details; let i = index" class="student-row">
                <ng-container *ngIf="edit_student_roll == info.roll_no; else viewRow">
                        <td ></td>
                        <td><input type="number" formControlName="roll_no" [ngModel]="info_pass_template.roll_no"></td>
                        <td><input type="text" formControlName="name" [ngModel]="info_pass_template.name" ></td>
                        <td><input type="text" formControlName="class" [ngModel]="info_pass_template.class"></td>
                        <td><input type="text" formControlName="section" [ngModel]="info_pass_template.section"></td>
                        <td><input type="text" formControlName="class_teacher" [ngModel]="info_pass_template.class_teacher"></td>
                        <td><input type="text" formControlName="age" [ngModel]="info_pass_template.age"></td>

                        <td>
                            <div class="button-container">
                                <button class="btn center-button" (click)="save_edit()">
                                    <img src="assets\8666542_save_icon.png" alt="Edit Icon" width="20" height="20"></button>
                                <button class="btn center-button"  (click)="cancel_edit()">
                                    <img  src="assets\4781838_cancel_close_delete_exit_logout_icon.png" alt="Edit Icon" width="20" height="20">
                                </button>
                            
                            </div>
                        </td>
                </ng-container>
                <ng-template #viewRow>
                    
                    <td class="empty-td"><input class="custom-checkbox" type="checkbox" (click)="checked(info.roll_no)"></td>
                    <td class="student-row">{{info.roll_no }}</td>
                    <td class="student-row">{{ info.name }}</td>
                    <td class="student-row">{{ info.class }}</td>
                    <td class="student-row">{{ info.section }}</td>
                    <td class="student-row">{{ info.class_teacher }}</td>
                    <td class="student-row">{{ info.age }}</td>
                    <td>
                        <button class="btn center-button" (click)="edit_info(info.roll_no)">
                            <img src="assets/8542056_edit_write_icon.png" alt="Edit Icon" title="Edit Info" width="20" height="20">
                        </button>   
                        <button  class="btn center-button" (click)="delete_info(info.roll_no)">
                            <img src="assets/3669361_delete_ic_icon.png" alt="Edit Icon" width="20" height="20"
                            title="Delete Info"></button>
                    </td>
                </ng-template>
            </tr>
            
            <tr>
                
            </tr>
        </table>
        
    </form>
</body>
</html>
